
.scrollToTop{
	background-color: #000000;
}
.scrollToTop:hover,.scrollToTop:focus{
  background-color: #fff;
  color: #f04872;
  border: 1px solid #f04872;
}
.navbar-brand > span {
  color: #f04872;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { 
  color: #f04872;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #f04872;
}
.slider_btn:hover,.slider_btn:focus{
	border-color:#f04872;
	color: #f04872;
}
.slides-navigation a::before,
.slides-navigation a::after,
.slides-navigation .icon-wrap::before,
.slides-navigation .icon-wrap::after {
	background: #f04872;
}
.slides-pagination a {
  border: 2px solid #f04872;
}
.heading h2 { /*Sub-headers*/
  border-bottom: 5px solid #f04872;
}
.panel-title a:hover{
	color: #f04872;		
}
.panel-title a span{
  color: #f04872;		
}
.service_icon{ /*Project Icons*/
	background-color: #4e4e4e;
}

.single_service .service_icon:hover{	
	color: #f04872;
	border: 2px solid #f04872;
	background-color: #fff;
}
.heading h3 {
  border-bottom: 5px solid #f04872;
}
.fa-2x {
  color: #f04872;
}
.single_team a {
  color: #f04872;
}
.team_social a:hover,.team_social a:focus{
	background-color: #f04872;
}
.slick-prev, .slick-next {
  background-color: #f04872;
}
.single_price .price {
  background-color: #f04872; 
}
.price_btn {
  background-color: #f04872;
  border: 1px solid #f04872;
}
.price_btn:hover{
	color: #f04872 !important;
}
.business_price {
  background-color: #f04872 !important;
}
.business_price .price_btn{	
	color: #f04872 !important;
}
.post_commentbox a:hover, .post_commentbox span:hover{
	color: #f04872;
}
.read_more{
	color: #f04872;	
}
.read_more:hover,.read_more:focus{
	border-bottom: 2px solid #f04872;
}
.testi_media .media-body span {
  color: #f04872;
}
.testimonial_slider .slick-dots li.slick-active button{
  background: none repeat scroll 0 0 #f04872;  
}
.submit_btn {
  background-color: #f04872;
}
.submit_btn:hover{
	color: #f04872;
	border-color: #f04872;
}
.form-control:focus {
  border-color: #f04872;
}
.wagwep-container ul#portfolio-filter a:hover{
  background-color: #f04872;
}
.wagwep-container ul#portfolio-filter li.current a {
  background:#f04872;  
}
.single_contact_feaured > i {
  color: #f04872;
}
.subscr_btn {
  background-color: #f04872;
}
.footer_left > p a {
  color: #f04872;
  font-weight: bold;
}
.social_nav li a:hover{
  color: #f04872;
  border-color: #f04872; 
}
.panel-default .in{ /*Company Description Panel*/
  border-color: #ec6889;
  border-left: 5px solid #ec6889;
}
.about_slider .slick-dots li.slick-active button:before {
  color: #f04872;
}
.progress-item {
  position : relative;
  padding: 5px;
}

.progress-item .progress-title {
  font-size     : 12px;
  font-weight   : 400;
  display       : inline-block;
  margin-bottom : 5px;
}

.progress-item .progress {
  height        : 2px;
  box-shadow    : none;
  border-radius : 0;
  background    : transparent;
}

.progress-item .progress-bar {
  background-color : #f04872;
  box-shadow       : none;
  text-align       : right;
}

.progress-item .progress-percent {
  font-size        : 10px;
  background-color : #313131;
  position         : absolute;
  top              : 5px;
  padding          : 0 8px;
  border-radius    : 3px;
}

.progress-item .progress-percent::before {
  content      : "";
  position     : absolute;
  left         : 0;
  bottom       : -4px;
  border-top   : 6px solid #313131;
  border-right : 8px solid transparent;
}


@media (max-width: 768px) {
  .progress-wrapper{
    margin-bottom: 50px;
  }
}